<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="css/backbone.css">

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://backbonejs.org/backbone.js"></script>
    <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-langs.js"></script>
</head>
<body>
<!-- Блок меню
<div id="menu">
    <ul>
        <li><a href="#">Start</a></li>
        <li><a href="#logEvent">Log Event</a> </li>
        <li><a href="#success">Success</a></li>
        <li><a href="#error">Error</a></li>
    </ul>
</div>
-->

<div class="progress-indicator">
   <img src="images/icon_loading_75x75.gif" alt="loading..." />
</div>

<div id="block" class="block">
</div>

<script type="text/template" id="eventItem">
  <td> <%= startTimeAsDate.format('MM/DD') %> </td> <td> <%= startTimeAsDate.format('HH:mm') %> </td>  <td> <%= activity %> </td> <td> <%= millisecondsToTime(endTimeAsDate-startTimeAsDate) %> </td> <td> <%= value %> </td> <td> <a href="#event/edit/<%= id %>">Edit</a> </td> <td> <a href="javascript:void(0)">Remove</a> </td>
</script>

<script type="text/template" id="recentEvents">
    <div class="menu">
        <a href="#addEvent">Add Event</a>
<!--        <button name="refresh">Refresh</button> -->
    </div>
    <hr/>
    <table border="1" class="eventsContainer"></table>
</script>


<script type="text/template" id="activityItem">
    <hr/>
  | <a href="#logEvent/<%=code%>"> <b> <strong>  <%= code %> </strong> </b> </a> | <a href="#activities/edit/<%=code%>"> <em> <small> edit </small> </em> </a>
    <hr/>
</script>

<script type="text/template" id="activities">
    <div class="menu">
        <a href="#activities/add">+Activity</a> |
        <a href="#addEvent">+Event</a> |
        <a href="#events/recent">Recent</a> |
        <a href="#reports/request">Reports</a> |
        <a href="#settings">Settings</a>
    </div>
    <hr/>

    <div class="activitiesContainer"></div>
</script>

<script type="text/template" id="logEvent">
    <table>
        <tr>
            <td>activity</td>
            <td><strong> <%= activityCode %> </strong></td>
        </tr>
        <tr>
            <td> startTime</td>
            <td><strong> <%= startTime.format('MM-DD HH:mm') %> </strong></td>
        </tr>
        <tr>
            <td> value</td>
            <td><input type="number" name="value" value="<%= eventValue %>" placeholder="value"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" name="cancel" value="Cancel"/>
                <input type="button" name="checkIn" value="CheckIn"/>
            </td>
        </tr>
    </table>
</script>

<script type="text/template" id="addEvent">
    <form name="inputValuesForm">
        <select name="activityCode">
         <% _.each( activitiesOptions(), function( activity ){ %>
                <% if (activityCode == activity.code) { %>
                    <option value="<%- activity.code %>" selected><%- activity.code %></option>
                <% } else { %>
                    <option value="<%- activity.code %>"><%- activity.code %></option>
                <% } %>
         <% }); %>
        </select>
        <hr/>
        date:
        <input type="hidden" name="id" value="<%= id %>"/>
        <input type="number" maxlength="4" size="4" name="year" placeholder="YYYY" value="<%= year %>"/>
        <input type="number" maxlength="2" size="2" name="month" placeholder="MM" value="<%= month %>"/>
        <input type="number" maxlength="2" size="2" name="day" placeholder="DD" value="<%= day %>"/>
        <hr/>
        <input type="number" name="value" placeholder="value" value="<%= value %>"/>
        <hr/>
        start:
        <input type="number" maxlength="2" size="2" name="startHour" placeholder="HH" value="<%= startHour %>"/>
        <input type="number" maxlength="2" size="2" name="startMinutes" placeholder="MM" value="<%= startMinutes %>"/>
        <hr/>
        end  :
        <input type="number" maxlength="2" size="2" name="endHour" placeholder="HH" value="<%= endHour %>"/>
        <input type="number" maxlength="2" size="2" name="endMinutes" placeholder="MM" value="<%= endMinutes %>"/>
    </form>
    <hr/>
    <input type="button" name="cancel" value="Cancel"/>
    <input type="button" name="submit" value="Submit"/>
</script>

<script type="text/template" id="editActivity">
    <form name="inputValueForm">
        <input name="id"  type="hidden" value="<%= id %>"/> <br/>
        <input name="code" placeholder="activity name" value="<%= code %>"/> <br/>
        <input name="name" placeholder="activity description" value="<%= name %>"/> <br/>
        <input name="tagsAsString" placeholder="activity tags: box run sun" value="<%= tags.join(' ') %>"/> <br/>
        <input name="thumbUrl" placeholder="activity thumb url" value="<%= thumbUrl %>"/> <br/>
        <input name="defaultEventValue" placeholder="activity default value for new event" value="<%= defaultEventValue %>"/>
    </form>
    <hr/>
    <input type="button" name="cancel" value="Cancel"/>
    <input type="button" name="submit" value="Submit"/>
</script>

<!-- Блок ввода имени пользователя -->
<script type="text/template" id="start">
    <div class="start">
        <div class="userplace">
            <label for="username">Имя пользователя: </label>
            <input type="text" id="username"/>
        </div>
        <div class="buttonplace">
            <input type="button" value="Проверить"/>
        </div>
    </div>
</script>


<script type="text/template" id="settingsPageView">
    <hr />
        <%= AppState.settings.get('nickname') %> | <a href="<%= AppState.settings.get('logoutUrl') %>" > logout </a>
    <hr />

    <div>
        <form>
            Time-zone offset: <input class="timeZoneInput" name="timeZoneOffset" value="<%= AppState.settings.get('timeZoneOffset') %>" />
        </form>
        <input type="button" name="cancel" value="Cancel"/>
        <input type="button" name="save" value="Save"/>
    </div>
</script>

<script type="text/template" id="requestReport">

    <hr/>
    <a href="javascript:void(0)" class="todayBtn">today</a> |
    <a href="javascript:void(0)" class="yesterdayBtn">yesterday</a> |
    <a href="javascript:void(0)" class="weekBtn">week</a> |
    <a href="javascript:void(0)" class="monthBtn">month</a>
    <hr/>

    <form name="inputValueForm">
        from:<br/>
        <input type="number" maxlength="4" size="4" name="startYear" placeholder="YYYY" />
        <input type="number" maxlength="2" size="2" name="startMonth" placeholder="MM" />
        <input type="number" maxlength="2" size="2" name="startDay" placeholder="DD" />
        <br/>
        to:
        <br/>

        <input type="number" maxlength="4" size="4" name="endYear" placeholder="YYYY" />
        <input type="number" maxlength="2" size="2" name="endMonth" placeholder="MM" />
        <input type="number" maxlength="2" size="2" name="endDay" placeholder="DD" />

    </form>

<br/>
        <input type="button" name="cancel" value="Cancel"/>
        <input type="button" name="request" value="Request"/>
</script>

<!-- Блок ошибки -->
<script type="text/template" id="error">
    <div class="error">
        Ошибка. Пользователь <%= username %> не найден.
        <a href="#!/">Go back</a>
    </div>
</script>

<!-- Блок удачи -->
<script type="text/template" id="success">
    <div class="success">
        Пользователь <%= username %> найден.
        <a href="#!/">Go back</a>
    </div>
</script>

<script src="js/domain-models.js">
</script>
<script src="js/ui-utils.js">
</script>
<script src="js/view.js">
</script>
<script src="js/controller.js">
</script>
<script src="js/backbone.js">
</script>
<script src="js/web-services.js">
</script>
</body>
</html>