<!DOCTYPE html>
{% autoescape true %}
<html>
 <head>
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  </head>
  <body>
    <h1>Hi {{ nickName }}</h1>
    <form action="/logEvent" method="post">
      <div><input name="activity" type="text" placeholder="activity"/></div>
      <div><input id="startTimeInput" type="text"/><button id="checkInBtn">checkIn</button> </div>
      <div><input id="endTimeInput" type="text"/><button id="checkOutBtn">checkOut</button></div>
      <div><input id="valueInput" name="value" type="text" value="1"/></div>
      <input id="startTimeIsoInput" name="startTime" type="text"/>
      <input id="endTimeIsoInput" name="endTime" type="text"/>
      <div><textarea name="comment" rows="3" cols="60" placeholder="comment"></textarea></div>
      <div><input type="submit" value="Submit Event"></div>
    </form>

    <hr>


  </body>
<script>
    var startDate, endDate;



    function getCurrentTime() {
        var date = new Date();
        return date.toLocaleTimeString();
    }

    function checkIn() {
        startDate = new Date().toISOString();
        $("#startTimeIsoInput").val( startDate);
        $("#startTimeInput").val( getCurrentTime() );
    }

    function checkOut() {
        endDate = new Date().toISOString();
        $("#endTimeIsoInput").val(endDate);
        $("#endTimeInput").val( getCurrentTime() );
    }

    $("#checkInBtn").click(function( event ) {
        checkIn();
        event.preventDefault();
    });

    $("#checkOutBtn").click(function( event ) {
        checkOut();
        event.preventDefault();
    });


</script>
</html>
{% endautoescape %}