<!DOCTYPE html>
{% autoescape true %}
<html>
 <head>
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  </head>
  <body>
    <h1>Hi {{ nickName }}</h1>
    <h1>your event has been logged.</h1>
    <h1>actor: {{ event.actor }}</h1>
    <h1>activity: {{ event.activity }}</h1>
    <h1>comment: {{ event.comment }}</h1>
    <h1>value: {{ event.value }}</h1>
    <h1>startTime: {{ event.startTime }}</h1>
    <h1>endTime: {{ event.endTime }}</h1>
    <hr>


  </body>
<script>
</script>
</html>
{% endautoescape %}