<!DOCTYPE html>
{% autoescape true %}
<html>
 <head class="ui-mobile">
{#    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />#}
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://jquerymobile.com/demos/1.2.0/css/themes/default/jquery.mobile-1.2.0.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>
  <body>

    <hr>
    <a href="/">BACK</a>
    <div data-role="page" data-add-back-btn="true">

        <div data-role="header" >
            <h1>My Title</h1>
        </div><!-- /header -->

        <div data-role="content">
    Hi {{ nickName }}<br/>
    your event has been logged.<br/>
    actor: {{ event.actor }}<br/>
    activity: {{ event.activity }}<br/>
    comment: {{ event.comment }}<br/>
    value: {{ event.value }}<br/>
    startTime: {{ event.startTime }}<br/>
    endTime: {{ event.endTime }}<br/>
        </div><!-- /content -->

    </div><!-- /page -->
  </body>
<script>
</script>
</html>
{% endautoescape %}