<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style>

    </style>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://backbonejs.org/backbone.js"></script>
</head>
<body>
<!-- Блок меню
<div id="menu">
    <ul>
        <li><a href="#">Start</a></li>
        <li><a href="#logEvent">Log Event</a> </li>
        <li><a href="#success">Success</a></li>
        <li><a href="#error">Error</a></li>
    </ul>
</div>
-->

<div id="block" class="block">
</div>

<script type="text/template" id="eventItem">
    <h5>
  <%= activity %> | <%= startTime %> | <%= endTime %> | <%= value %> | - - <a href="#event/edit/<%= id %>">Edit</a> - - |- - <a href="javascript:void(0)">Remove</a>
        </h5>
    <hr/>
</script>

<script type="text/template" id="recentEvents">
    <div class="menu">
        <a href="#addEvent">Add Event</a>
        <button name="refresh">Refresh</button>
    </div>
    <hr/>
    <div class="eventsContainer"></div>
</script>


<script type="text/template" id="activityItem">
  <a href="#logEvent/<%=code%>"> <%= code %> </a>
</script>

<script type="text/template" id="activities">
    <div class="menu">
        <a href="#addEvent">Add Event</a>
        <a href="#events/recent">Recent Events</a>

    </div>
    <hr/>
    <div class="activitiesContainer"></div>
</script>

<script type="text/template" id="logEvent">
    activity: <%= currentActivity.code %> <br/>
    startTime: <%= startDate %> <br/>
    <input type="number" name="value" value="<%= currentActivity.defaultEventValue %>" placeholder="value"/>
    <br/>
    <input type="button" name="cancel" value="Cancel"/>
    <input type="button" name="checkIn" value="CheckIn"/>
</script>

<script type="text/template" id="addEvent">
    <form name="inputValuesForm">
        <select name="activityCode">
         <% _.each( activitiesOptions(), function( activity ){ %>
                <% if (activityCode == activity.code) { %>
                    <option value="<%- activity.code %>" selected><%- activity.code %></option>
                <% } else { %>
                    <option value="<%- activity.code %>"><%- activity.code %></option>
                <% } %>
         <% }); %>
        </select>
        <hr/>
        date:
        <input type="hidden" name="id" value="<%= id %>"/>
        <input type="number" maxlength="4" size="4" name="year" placeholder="YYYY" value="<%= year %>"/>
        <input type="number" maxlength="2" size="2" name="month" placeholder="MM" value="<%= month %>"/>
        <input type="number" maxlength="2" size="2" name="day" placeholder="DD" value="<%= day %>"/>
        <hr/>
        <input type="number" name="value" placeholder="value" value="<%= value %>"/>
        <hr/>
        start:
        <input type="number" maxlength="2" size="2" name="startHour" placeholder="HH" value="<%= startHour %>"/>
        <input type="number" maxlength="2" size="2" name="startMinutes" placeholder="MM" value="<%= startMinutes %>"/>
        <hr/>
        end  :
        <input type="number" maxlength="2" size="2" name="endHour" placeholder="HH" value="<%= endHour %>"/>
        <input type="number" maxlength="2" size="2" name="endMinutes" placeholder="MM" value="<%= endMinutes %>"/>
    </form>
    <hr/>
    <input type="button" name="cancel" value="Cancel"/>
    <input type="button" name="submit" value="Submit"/>
</script>

<!-- Блок ввода имени пользователя -->
<script type="text/template" id="start">
    <div class="start">
        <div class="userplace">
            <label for="username">Имя пользователя: </label>
            <input type="text" id="username"/>
        </div>
        <div class="buttonplace">
            <input type="button" value="Проверить"/>
        </div>
    </div>
</script>


<!-- Блок ошибки -->
<script type="text/template" id="error">
    <div class="error">
        Ошибка. Пользователь <%= username %> не найден.
        <a href="#!/">Go back</a>
    </div>
</script>

<!-- Блок удачи -->
<script type="text/template" id="success">
    <div class="success">
        Пользователь <%= username %> найден.
        <a href="#!/">Go back</a>
    </div>
</script>

<script src="js/domain-models.js">
</script>
<script src="js/ui-utils.js">
</script>
<script src="js/view.js">
</script>
<script src="js/controller.js">
</script>
<script src="js/backbone.js">
</script>
<script src="js/web-services.js">
</script>
</body>
</html>